@{
  Layout = "_Layout"; 
}

@model SweetAndSavory.Models.Flavor

<h2 class="text-center"> ~Add a new Flavor~ </h2>

<div class="text-center"> 
  @using (Html.BeginForm())
  {
    <div class="fieldset">
      @Html.LabelFor(model => model.FlavorName)
      @Html.TextBoxFor(model => model.FlavorName)

      @Html.Label("Select Treat")
      @Html.DropDownList("TreatId")
    </div>
    <div>
      <input type="submit" value="Add new Flavor"/>
    </div>
  }
</div>

<p class="text-center">@Html.ActionLink("Show all flavors", "Index")</p> 